$doneBorder: #71e294;
$doneText: #1e2c4f;
$doneBG: #e8ffed;

$openBorder: #56c3da;
$openText: #192e4d;
$openBG: #fff;

$blockedBorder: #c7d2d6;
$blockedText: #6a6f82;
$blockedBG: #e4ecee;

$alertBorder: #ff5800;

html > body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	> svg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

path {
	&.link {
		fill: none;
/*		stroke: #CCCCCC;*/
		stroke-width: 2px;
	}
}

svg {
	body {
		margin: 0;
		padding: 1px;
		background: transparent;
	}
	.Blocked div {
		border-color: $blockedBorder;
		color: $blockedText;
		background-color: $blockedBG;
	}
	.Completed div {
		border-color: $doneBorder;
		color: $doneText;
		background-color: $doneBG;
	}
	.Unblocked div {
		border-color: $openBorder;
		color: $openText;
		background-color: $openBG;
	}
	path {
		
	}
	g.view {
/*		fill: url(#squares);*/
	}
	div {
		font-size: 12pt;
		font-family: Helvetica;
		border: 2px solid gray;
		border-radius: 5px;
		padding: 10px;
		background: white;
/*		width: 200px;*/
	}
	.selected-task {
		div {
			background: red;
		}
	}
	.selected-link {
		stroke: green;
	}
	.clicker {
		stroke-width: 1px;
		display: none;
	}
	.linkHandle {
		stroke: #000;
		fill: #FFF;
		stroke-width: 1.5px;
	}
}