html > body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	> svg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

path {
	&.link {
		fill: none;
		stroke: #CCCCCC;
		stroke-width: 2px;
	}
}

svg {
	body {
		margin: 0;
		padding: 1px;
		background: transparent;
	}
	div {
		border: 2px solid gray;
		border-radius: 5px;
		padding: 3px;
		background: white;
	}
	.selected-task {
		div {
			background: red;
		}
	}
	.selected-link {
		stroke: green;
	}
	.clicker {
		stroke-width: 1px;
		display: none;
	}
	.linkHandle {
		stroke: #000;
		fill: #FFF;
		stroke-width: 1.5px;
	}
}